BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
ContinuationIndentWidth: 4
---
Language: Cpp
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializersBeforeComma: true
ReflowComments: true
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes