name: CI (CPU)

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-on-${{ github.event_name }}-from-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  build-cpu-gcc11:
    runs-on: ubuntu-latest
    name: CPU (gcc 11, ubuntu 20.04)
    steps:
      - name: Checkout stdexec
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build and test CPU schedulers
        uses: docker://ghcr.io/trxcllnt/action-cxx-toolkit:gcc11-ubuntu20.04
        with:
          cc: gcc-11
          checks: build test
          cmakeflags: "-DSTDEXEC_ENABLE_TBB:BOOL=TRUE"
          prebuild_command: |
            apt update && apt install -y --no-install-recommends git libtbb-dev;

  build-cpu-clang12:
    runs-on: ubuntu-latest
    name: CPU (clang 12, ubuntu 20.04)
    steps:
      - name: Checkout stdexec
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build and test CPU schedulers
        uses: docker://ghcr.io/trxcllnt/action-cxx-toolkit:clang12-ubuntu20.04
        with:
          cc: clang-12
          checks: build test
          cxxflags: "-stdlib=libc++"
          cmakeflags: "-DSTDEXEC_ENABLE_TBB:BOOL=TRUE"
          prebuild_command: |
            apt update && apt install -y --no-install-recommends git libtbb-dev;

  build-cpu-gcc11-ubuntu2204:
    runs-on: ubuntu-22.04
    name: CPU (gcc 11, ubuntu 22.04, TSAN)
    steps:
      - name: Checkout stdexec
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build and test CPU schedulers
        uses: docker://ghcr.io/trxcllnt/action-cxx-toolkit:gcc11-ubuntu22.04
        with:
          cc: gcc-11
          checks: build test
          cxxflags: "-fsanitize=thread"
          prebuild_command: |
            apt update && apt install -y --no-install-recommends git;

  build-cpu-gcc-msys2:
    runs-on: windows-2022
    name: CPU (gcc (msys2/mingw-w64), windows)
    strategy:
      matrix:
        include:
          - { sys: ucrt64,  env: ucrt-x86_64 }
    steps:
      - name: Checkout stdexec
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          install:
            mingw-w64-${{matrix.env}}-gcc
            mingw-w64-${{matrix.env}}-libwinpthread-git
            mingw-w64-${{matrix.env}}-cmake
            mingw-w64-${{matrix.env}}-ninja
          update: true
      - name: Build and test
        shell: msys2 {0}
        run: |
          cmake -S . -B build -G Ninja
          cmake --build build -j --verbose
          cmake --build build --target test
